<div class="container">
  <div class="row">
    <div class="col-10 pl-5">
      <div class="row justify-content-center">
        
        <!-- 検索 -->
        <div class="col-md-6 mt-3">
          <form action="/search" method="GET" class="form-inline justify-content-center">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="キーワードを入力してください" name="q">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">検索</button>
              </div>
            </div>
          </form>
        </div>
        
        <div class="ml-3" style="text-align: center;">
          <p class="p-2">
            <span style="font-size: 20px;">
              おたスト!は「イラストおたすけコミュニティサイト」の略称で、<br>
              イラストを最近描き始めて、「描き方がわからなくて困っている!」<br>
              「こういう感じにしたいけどうまく仕上がらない!」と思っている方<br>
              向けのサービスになっております!
            </span>
          </p>
        </div>
        
        <!-- 画像1 -->
        <div class="row justify-content-center mt-3">
          <div class="col-md-6 text-center">
            <img src="https://pbs.twimg.com/media/GTLoFCKbEAA0laH?format=jpg&name=small" class="img-fluid" alt="画像の説明">
          </div>
        </div>
        
        <!-- 投稿するボタン -->
        <div class="row justify-content-center mt-4">
          <div class="col-md-6 text-center">
            <%= link_to "投稿する", new_post_path, class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      