<div class="container">
  <div class="row">
    <div class="col-11 pl-5">
      <div class="row justify-content-center">
        
        <!-- 検索 -->
        <div class="col-md-6 mt-3">
          <form action="/search" method="GET" class="form-inline justify-content-center">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="キーワードを入力してください" name="q">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">検索</button>
              </div>
            </div>
          </form>
        </div>
        
        <div class="ml-3" style="text-align: left;">
          <p class="p-2">
            <span style="font-size: 20px;">
              おたスト!は「イラストおたすけコミュニティサイト」で、イラストを最近描き始めて、<br>
              「描き方がわからなくて困っている!」「こういう感じにしたいけどうまく仕上がらない!」<br>
              と思っている方向けのサービスになっております!
            </span>
          </p>
        </div>
        
        <h3>－協力イラスト－</h3>
        
        <!-- 画像と投稿するボタン -->
        <div class="row justify-content-left mt-3">
          <!-- 画像 -->
          <div class="col-md-4 text-center">
            <div class="d-flex">
              <img src="https://pbs.twimg.com/media/GTLoFCKbEAA0laH?format=jpg&name=small" class="img-fluid me-3" alt="画像の説明">
              
              <img src="https://pbs.twimg.com/media/GTgIrHLbUAEYPPe?format=jpg&name=4096x4096" class="img-fluid me-3" alt="画像の説明">
              
              <img src="https://pbs.twimg.com/media/GTOM4CAaYAASiQL?format=jpg&name=4096x4096" class="img-fluid" alt="画像の説明">
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>