<p id="notice"></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center" style="font-size: 24px;">プロフィール</div>
      <p id="notice"></p>
      <div class="actions">
        <!-- 編集するボタン -->
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="text-center">
              <%= link_to "編集する", companions_information_edit_path, class: "btn btn-lg btn-success", style: "font-size: 1rem;" %>
            </div>
          </div>
        </div>

        <p id="notice"></p>

        <!-- ユーザー情報 -->
        <% if @user %>
          <table class="table">
            <tbody>
              <tr>
                <th style="text-align: left;">ニックネーム</th>
                <td style="text-align: left;"><%= @user.name %></td>
              </tr>
              <tr>
                <th style="text-align: left;">メールアドレス</th>
                <td style="text-align: left;"><%= @user.email %></td>
              </tr>
            </tbody>
          </table>
        <% else %>
          <div class="text-center">ユーザーが見つかりません。</div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>